@using BlazorApp1.Shared.User
@inject Usuario usuarioManagement


<RadzenCard>
    <div class="input-group mb-3">
        <span class="input-group-text">Usuario: </span>
        <RadzenTextBox @bind-Value="usuarioManagement.UserInBase64" class="input-group-text"/>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text">Pass: </span>
        <RadzenPassword @bind-Value="usuarioManagement.PaswordInBase64" class="input-group-text"/>
    </div>
    <RadzenLabel Text="* Las credenciales se guardaran durante toda la sesion." /><br/>
    <RadzenLabel Text="* Solo basta con escribirlas." />

</RadzenCard>


@code {

}
