@inherits LayoutComponentBase
@using BlazorApp1.Client.Services.Login;
@inject LoginService loginService
@inject NavigationManager navManager

<Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
    <NotAuthorized>
        @{
            navManager.NavigateTo("/");
        }
    </NotAuthorized>
    <Authorized>

        <RadzenDialog />
        <RadzenNotification />
        <RadzenContextMenu />
        <RadzenTooltip />

        <RadzenLayout>
            <RadzenHeader>
                <RadzenStack Orientation="Orientation.Horizontal"
                             AlignItems="AlignItems.Center">
                    <RadzenStack Orientation="Orientation.Horizontal"
                                 AlignItems="AlignItems.Center"
                                 Gap="0">
                        <RadzenSidebarToggle Click="@(() => SideExpanded = !SideExpanded)" />
                        <RadzenLabel Text="Rorschach's Code" />
                    </RadzenStack>

                    <RadzenStack Orientation="Orientation.Horizontal"
                                 AlignItems="AlignItems.End"
                                 Gap="0"
                                 Style="margin-left:auto">
                        <RadzenProfileMenu>
                            <Template>
                                <RadzenGravatar Email="@context.User.Identity?.Name?.ToString()" />
                            </Template>
                            <ChildContent>
                                <RadzenButton Text="Salir"
                                              Icon="person_off"
                                              ButtonStyle="ButtonStyle.Dark"
                                              Click="LogOut"
                                              Shade="Shade.Dark"
                                              Variant="Variant.Flat" />
                            </ChildContent>
                        </RadzenProfileMenu>
                    </RadzenStack>
                </RadzenStack>

            </RadzenHeader>
            <RadzenSidebar @bind-Expanded="@SideExpanded"
                           class="rz-color-white rz-background-color-primary-darker">
                <RadzenPanelMenu class=" rz-color-white rz-background-color-primary-darker"
                                 Style="font-weight:800;font-size:1.2rem">
                    <RadzenPanelMenuItem Text="Inicio"
                                         Icon="home"
                                         Path="/Index" />
                    <RadzenPanelMenuItem Text="Asignación"
                                         Icon="assignment_add"
                                         Path="Asignacion" />
                    <RadzenPanelMenuItem Text="Bot Asignación"
                                         Icon="smart_toy"
                                         Path="AsignacionBot" />
                    <RadzenPanelMenuItem Text="Reporte Sucursal"
                                         Icon="summarize"
                                         Path="SucursalReport" />
                    <RadzenPanelMenuItem Text="Ordenes Trabajo"
                                         Icon="order_play"
                                         Path="Ordenes" />
                    <RadzenPanelMenuItem Text="Historial Fallidos"
                                         Icon="timeline"
                                         Path="Fallidos" />
                    <RadzenPanelMenuItem Text="Configuracion"
                                         Icon="settings"
                                         Path="Configuracion" />
                </RadzenPanelMenu>

            </RadzenSidebar>
            <RadzenBody>
                <div class="content px-2">
                    @Body
                </div>
            </RadzenBody>
        </RadzenLayout>
    </Authorized>

</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>

@code {
    private bool SideExpanded = true;

    private async Task LogOut()
    {
        await loginService.LogOut();
        navManager.NavigateTo("/");
    }
}